Amazon Wesbite Scrapping

In [ ]:
!pip install autoscraper

In [43]:
from autoscraper import AutoScraper
import pandas as pd

In [13]:
amazon_headphone="https://www.amazon.in/headphones/s?k=headphones"
wanted=["₹20,539","Sennheiser Professional Audio HD 400 Pro Wired Over Ear Headphones Without micBlack","23,772"]

In [14]:
#Building Autoscrapper
scraper= AutoScraper()
data=scraper.build(amazon_headphone, wanted)
data

['₹20,539',
 '₹21,990',
 '₹24,990',
 '₹29,990',
 '₹1,999',
 '₹4,999',
 '₹3,990',
 '₹899',
 '₹1,990',
 '₹1,499',
 '₹2,999',
 'Sennheiser Professional Audio HD 400 Pro Wired Over Ear Headphones Without micBlack',
 'Sony Wh-1000Xm4 Industry Leading Noise Cancellation Bluetooth Wireless Over Ear Headphones with Mic for Phone Calls, 30 Hours Battery Life, Quick Charge, Aux, Touch Control and Voice Control (Black)',
 'boAt Rockerz 550 Over Ear Bluetooth Headphones with Upto 20 Hours Playback, 50MM Drivers, Soft Padded Ear Cushions and Physical Noise Isolation(Army Green)',
 'boAt Rockerz 450 Pro On Ear Bluetooth Headphones with Upto 15 Hours Playback, ASAP Charge, 40MM Drivers, Padded Ear Cushions and Dual Modes(Luscious Black)',
 'boAt BassHeads 950v2 Wired Over Ear Headphones with Mic, with 40mm Audio Drivers, Soft Ear-Cushion, Lightweight Build, 3.5mm Jack and with mic(Raging Black)',
 'boAt Rockerz 425 Bluetooth Wireless Over Ear Headphones with boAt Signature Sound, Beast Mode(Upto 65ms Latency) for Gaming, ENx Tech, ASAP Charge, 25H Playtime, Bluetooth v5.2, with mic(Active Black)',
 '23,772',
 '63,212',
 '64,004',
 '78,228',
 '78,748',
 '317,459',
 '172,131',
 '11,267',
 '129,715',
 '43,654',
 '42,193',
 '108,369',
 '85,197',
 '32,851']

In [16]:
scraper.get_result_similar(amazon_headphone, grouped=True)

{'rule_e9tm': ['Sennheiser Professional Audio HD 400 Pro Wired Over Ear Headphones Without micBlack',
  'Sony Wh-1000Xm4 Industry Leading Noise Cancellation Bluetooth Wireless Over Ear Headphones with Mic for Phone Calls, 30 Hours Battery Life, Quick Charge, Aux, Touch Control and Voice Control (Black)',
  'boAt Rockerz 550 Over Ear Bluetooth Headphones with Upto 20 Hours Playback, 50MM Drivers, Soft Padded Ear Cushions and Physical Noise Isolation(Army Green)',
  'boAt Rockerz 450 Pro On Ear Bluetooth Headphones with Upto 15 Hours Playback, ASAP Charge, 40MM Drivers, Padded Ear Cushions and Dual Modes(Luscious Black)',
  'boAt Rockerz 425 Bluetooth Wireless Over Ear Headphones with boAt Signature Sound, Beast Mode(Upto 65ms Latency) for Gaming, ENx Tech, ASAP Charge, 25H Playtime, Bluetooth v5.2, with mic(Active Black)',
  'boAt Bassheads 900 Wired On Ear Headphones with Mic (Pearl White)'],
 'rule_fovt': ['₹20,539',
  '₹21,990',
  '₹24,990',
  '₹29,990',
  '₹1,999',
  '₹4,999',
  '₹1,999',
  '₹3,990',
  '₹1,499',
  '₹2,999',
  '₹799',
  '₹2,490'],
 'rule_mw6p': ['₹20,539',
  '₹21,990',
  '₹24,990',
  '₹29,990',
  '₹1,999',
  '₹4,999',
  '₹1,999',
  '₹3,990',
  '₹1,499',
  '₹2,999',
  '₹799',
  '₹2,490'],
 'rule_tx5t': ['23,772',
  '63,212',
  '64,004',
  '78,228',
  '78,748',
  '317,459',
  '172,131',
  '11,267',
  '43,654',
  '129,715',
  '78,228',
  '42,194',
  '108,369',
  '85,197',
  '32,851',
  '1,189']}

## Changing titles and saving model for scrapping with new data of similar type

In [29]:
scraper.set_rule_aliases({'rule_e9tm':'Title','rule_fovt':'Price','rule_tx5t':'Rating'})
scraper.keep_rules(['rule_e9tm','rule_fovt','rule_tx5t'])
scraper.save('Product_Scrape')

## Model Saved above!  Now giving giving new url for more scraping

In [30]:
#New url
data1=scraper.get_result_similar('https://www.amazon.in/s?k=I+phone&crid=V3USA2S14IS9&sprefix=i+phon%2Caps%2C586&ref=nb_sb_noss',group_by_alias=True)

['Apple iPhone 12 (64GB) - Black', 'Apple iPhone XR (128GB) - Coral']

## Printing data from newly provided url

In [37]:
data1['Title']

['Apple iPhone 12 (64GB) - Black', 'Apple iPhone XR (128GB) - Coral']

In [38]:
data1['Price']

['₹54,900', '₹65,900', '₹42,999', '₹52,900']

In [39]:
data1['Rating']

['12,334',
 '51,607',
 '51,607',
 '12,334',
 '7,049',
 '1,493',
 '12,334',
 '12,334',
 '12,334',
 '1,493',
 '12,334',
 '51,607',
 '474',
 '51,607',
 '1,566']

In [42]:
data1

{'Price': ['₹54,900', '₹65,900', '₹42,999', '₹52,900'],
 'Rating': ['12,334',
  '51,607',
  '51,607',
  '12,334',
  '7,049',
  '1,493',
  '12,334',
  '12,334',
  '12,334',
  '1,493',
  '12,334',
  '51,607',
  '474',
  '51,607',
  '1,566'],
 'Title': ['Apple iPhone 12 (64GB) - Black',
  'Apple iPhone XR (128GB) - Coral']}

In [57]:
#CONVERTING INTO DATAFRAME
awadh=pd.DataFrame(data1.items())
awadh

        0                                                  1
0   Price               [₹54,900, ₹65,900, ₹42,999, ₹52,900]
1   Title  [Apple iPhone 12 (64GB) - Black, Apple iPhone ...
2  Rating  [12,334, 51,607, 51,607, 12,334, 7,049, 1,493,...